body {
    margin: 0;
    padding: 0;
}

h2,
p {
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: right;
}

.logo {
    display: flex;
    justify-content: left;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: grey;
}

.hero-image {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 20px;
    gap: 20px;
}

.container div {
    color: #000;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap
}

.flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;

    display: flex;
    flex-direction: column;
}

.flex-img img {
    width: 450px;
    height: 600px;
}

.flex-img2 img {
    width: 650px;
    height: 400px;
}
.flex-info {
    margin-top: auto;
}

.socials-section {
    display: flex;
    gap: 120px;
    padding: 60px;
    font-family: Arial, sans-serif;
}

.left-block h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.icons img {
    width: 28px;
    margin-right: 25px;
    opacity: 0.7;
}

.right-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-row, .data-row {
    display: grid;
    grid-template-columns: 180px 200px 200px 200px;
    align-items: start;
}

.header-row .col {
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-weight: bold;
}

.col {
    font-size: 18px;
    line-height: 1.7;
}


@media (max-width: 920px) {
    .flex-item {
        flex-basis: 20%;
        flex-grow: inherit;
    }
}

section {
    padding: 20px;
    display: flex;
    justify-content: center;
}

section h1 {
    font-size: 65px;
}

img {
    border-radius: 8px;
}

.member {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.member-img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.member-info {
    margin:5px 0;
    font-size: 18px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 40px 0;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.merchandise {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    max-width: 700px;
}

.merchandise-img img {
    width: 230px;
    height: auto;
    border-radius: 100px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 10px solid #000;
}

.merchandise-info {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 20px;
}

#purchase {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    height:40px;
}

#purchase a {
    color: white;
    text-decoration: none;
    align-items: center;
}

#booking {
    display: flex;
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#booking a {
    color: white;
    text-decoration: none;
}

.tickets-info {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 33%;
}

.tickets-info a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#location {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
}

.concerts-dates-image img {
    border-radius: 10px;
    object-fit: cover;
    align-content: center;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
    max-width: 45%;
    margin: auto;
    text-align: left;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

form {
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
}

input[type=number] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

.column {
  float: left;
  width: 46%;
  padding: 10px;
}
.column2 {
  float: right;
  text-align: right;
  width: 46%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
