body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: left;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: grey;
}

.hero-image {
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 20px;
    gap: 20px;
}

.container div {
    color: #000;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap
}

.flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;

    display: flex;
    flex-direction: column;
}

.flex-img img {
    max-width: 100%;
}

.flex-info {
    margin-top: auto;
}

@media (max-width: 920px) {
    .flex-item {
        flex-basis: 20%;
        flex-grow: inherit;
    }
}

section{
    padding: 20px;
    display: flex;
    justify-content: center;
}

img{
    border-radius: 8px;
}